<meta charset="UTF-8">
<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic');

    style {
        display: none !important;
    }

    ._customer-category {
        max-width: 627px;
        box-sizing: border-box;
        font-size: 16px;
        line-height: 16px;
        font-family: Roboto, sans-serif;
        font-weight: 300;
    }

    ._customer-category_ttl {
        display: block !important;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        color: #333333;
        text-transform: uppercase;
    }

    ._customer-category_list {
        display: flex !important;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin: 15px -15px;
    }

    ._customer-category_item {
        display: block !important;
        width: 298px;
        min-height: 32px;
        background-repeat: no-repeat;
        box-sizing: border-box;
        margin: 0 15px;
        padding: 15px 0 15px 40px;
        background-position: left center;

    }

    ._customer-category_img-1 {
        background-image: url("img/block_category/001-discount.png");
    }

    ._customer-category_img-2 {
        background-image: url("img/block_category/002-chat.png");
    }

    ._customer-category_img-3 {
        background-image: url("img/block_category/003-delivery.png");
    }

    ._customer-category_img-4 {
        background-image: url("img/block_category/004-logistics.png");
    }
</style>


<div class="_customer-category">
    <div class="_customer-category_ttl">
        4 причины заказать у нас
    </div>
    <div class="_customer-category_list">
        <div class="_customer-category_item _customer-category_img-1">
            Низкие цены на продукцию
        </div>
        <div class="_customer-category_item _customer-category_img-2">
            Консультации и помощь в выборе товаров
        </div>
        <div class="_customer-category_item _customer-category_img-3">
            Доставка в любую точку России. Возможен самовывоз
        </div>
        <div class="_customer-category_item _customer-category_img-4">
            Если даже товара нет на складе, мы привезем его за 1-2 дня!
        </div>
    </div>
</div>