<meta charset="UTF-8">
<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic');

    style {
        display: none !important;
    }

    ._customer-goods {
        max-width: 887px;
        box-sizing: border-box;
        font-size: 16px;
        line-height: 16px;
        font-family: Roboto, sans-serif;
        font-weight: 300;
    }

    ._customer-goods_ttl {
        display: block !important;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        color: #333333;
        text-transform: uppercase;
    }

    ._customer-goods_list {
        display: flex !important;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin: 15px -15px;
    }

    ._customer-goods_item {
        display: block !important;
        width: 428px;
        min-height: 32px;
        background-repeat: no-repeat;
        box-sizing: border-box;
        margin: 0 15px;
        background-position: left center;
        padding: 15px 0 15px 40px;

    }

    ._customer-goods_img-1 {
        background-image: url("img/block_goods/001-discount.png");
    }

    ._customer-goods_img-2 {
        background-image: url("img/block_goods/002-chat.png");
    }

    ._customer-goods_img-3 {
        background-image: url("img/block_goods/003-delivery.png");
    }

    ._customer-goods_img-4 {
        background-image: url("img/block_goods/004-logistics.png");
    }

    ._customer-goods_work {
        display: inline-flex !important;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    ._customer-goods_box {
        display: block !important;
        margin-bottom: 20px;
        font-weight: 400;
        line-height: 19px;
        position: relative;
    }

    ._customer-goods_box:before {
        content: url("img/block_goods/triangle.png");
        display: block;
        position: absolute;
        top: 3px;
        right: 0;
    }

    ._customer-goods_box-1 {
        width: 165px;
    }

    ._customer-goods_box-2 {
        width: 165px;
        text-align: center;
    }

    ._customer-goods_box-3 {
        width: 165px;
        text-align: center;
    }

    ._customer-goods_box-4 {
        width: 165px;
        text-align: center;
    }

    ._customer-goods_box-4>div {
        font-weight: 300;
    }

    ._customer-goods_box-5 {
        width: 219px;
        text-align: center;
    }

    ._customer-goods_box-5>div {
        font-weight: 300;
    }

    ._customer-goods_box-5:before {
        content: "";
    }

    @media (max-width: 1218px) {
        ._customer-goods_box-1 {
            text-align: center;
        }
    }
</style>


<div class="_customer-goods">
    <div class="_customer-goods_ttl">
        4 причины заказать у нас
    </div>
    <div class="_customer-goods_list">
        <div class="_customer-goods_item _customer-goods_img-1">
            Низкие цены на продукцию
        </div>
        <div class="_customer-goods_item _customer-goods_img-2">
            Консультации и помощь в выборе товаров
        </div>
        <div class="_customer-goods_item _customer-goods_img-3">
            Доставка в любую точку России. Возможен самовывоз
        </div>
        <div class="_customer-goods_item _customer-goods_img-4">
            Если даже товара нет на складе, мы привезем его за 1-2 дня!
        </div>
    </div>
    <div class="_customer-goods_ttl">
        Как оформить и получить заказ
    </div>
    <div class="_customer-goods_work">
        <div class="_customer-goods_box _customer-goods_box-1">
            Подача заявки
        </div>
        <div class="_customer-goods_box _customer-goods_box-2">
            Консультация<br>
            с менеджером
        </div>
        <div class="_customer-goods_box _customer-goods_box-3">
            Оформление<br>
            заказа
        </div>
        <div class="_customer-goods_box _customer-goods_box-4">
            Оплата:
            <div>Наличный и
                безналичный расчет</div>
        </div>
        <div class="_customer-goods_box _customer-goods_box-5">
            Получение товара:
            <div>Самовывоз</div>

            <div style="margin-top: 15px">Услуги ТК: ПЭК, СДЭК, Желдорэкспедиция</div>

            <div style="margin-top: 15px">Автопарком компании
                (по Нижнему Новгороду)</div>
        </div>
    </div>
</div>