<meta charset="UTF-8">
<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

    /* --- Advantages  --- */
    ._customer_adv {
        max-width: 1147px;
        box-sizing: border-box;
        font-size: 16px;
        line-height: 19px;
        font-family: Roboto, sans-serif;
        font-weight: 300;
    }

    ._customer-adv_ttl {
        font-weight: 500;
    }

    ._customer-adv_list {
        display: flex !important;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin: 15px -15px;
    }

    ._customer-adv_item {
        width: 46%;
        min-height: 58px;
        padding: 0 0 5px 70px;
        background-repeat: no-repeat;
        box-sizing: border-box;
        background-position: left top;
        margin: 15px 15px 10px;

    }

    ._customer-adv_img-1 {
        background-image: url("img/block_advantages/001-hand-shake.png");
    }

    ._customer-adv_img-2 {
        background-image: url("img/block_advantages/002-question.png");
    }

    ._customer-adv_img-3 {
        background-image: url("img/block_advantages/003-commerce-and-shopping.png");
    }

    ._customer-adv_img-4 {
        background-image: url("img/block_advantages/004-delivery.png");
    }

    ._customer-adv_img-5 {
        background-image: url("img/block_advantages/005-box.png");
    }

    ._customer-adv_img-6 {
        background-image: url("img/block_advantages/006-diploma.png");
    }

    @media (max-width: 1059px) {
        ._customer-adv_item {
            width: 100%;
        }
    }

    /* --- Advantages end  --- */
</style>

<div class="_customer_adv">
    <div class="_customer-adv_list">
        <div class="_customer-adv_item _customer-adv_img-1">
            <div class="_customer-adv_ttl">Выгодное сотрудничество</div>
            Поставляем товары от производителей, удерживаем самые низкие цены на продукцию.
        </div>
        <div class="_customer-adv_item _customer-adv_img-2">
            <div class="_customer-adv_ttl">Профессиональные консультации</div>
            Наши менеджеры подробно расскажут о продукции и помогут с выбором сантехнического оборудования.
        </div>
        <div class="_customer-adv_item _customer-adv_img-3">
            <div class="_customer-adv_ttl"> Товары под заказ</div>
            Если товара нет на нашем складе, мы привезем его под заказ. Сроки ожидания всего 1-2 дня.
        </div>
        <div class="_customer-adv_item _customer-adv_img-4">
            <div class="_customer-adv_ttl">Доставка в любую точку России</div>
            Возможен самовывоз.
        </div>
        <div class="_customer-adv_item _customer-adv_img-5">
            <div class="_customer-adv_ttl">Ассортимент</div>
            Предлагаем большой ассортимент товаров как для профессионалов — ремонтные организации, застройщики,
            так и для частных лиц.
        </div>
        <div class="_customer-adv_item _customer-adv_img-6">
            <div class="_customer-adv_ttl">Гарантии</div>
            Вся продукция соответствует отечественным и европейским стандартам.
        </div>
    </div>

</div>