<meta charset="UTF-8">
<style>
    style {
        display: none !important;
    }

    /* --- Main  --- */
    ._customer-main {
        max-width: 1147px;
        box-sizing: border-box;
        font-size: 16px;
        line-height: 19px;
        font-family: Roboto, sans-serif;
        font-weight: 300;
    }

    ._customer-main_ttl {
        display: block !important;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        color: #333333;
        text-transform: uppercase;
    }

    ._customer-main_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px -15px 0;
    }

    ._customer-main_item {
        display: block !important;
        width: 362px;
        margin: 0 15px 30px;
    }

    ._customer-main_item-ttl {
        font-weight: 500;
        margin-bottom: 10px;
    }

    ._customer-main_img {
        width: 100%;
        height: auto;
        display: block !important;
    }

    ._customer-main_text {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    ._customer-main_btn {
        width: 135px;
        height: 36px;
        text-align: center;
        margin: 0 auto;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        display: block;
        color: #000000 !important;
        background: #40C6FF;
        border-radius: 3px;
        line-height: 36px;
        border: none;
        outline: none;
    }

    ._customer-main_btn:hover {
        opacity: 0.85;
    }

    /* --- Main end --- */
</style>

<div class="_customer-main">
    <div class="_customer-main_ttl">
        Полезные материалы
    </div>
    <div class="_customer-main_list">
        <div class="_customer-main_item">
            <div class="_customer-main_item-ttl">Как выбрать радиатор отопления</div>
            <img class="_customer-main_img" src="img/block_main/img-1.png" alt="">
            <div class="_customer-main_text">
                Узнайте, радиаторы каких типов и размеров подойдут для вашего объекта
            </div>
            <a href="#" class="_customer-main_btn">Читать</a>
        </div>
        <div class="_customer-main_item">
            <div class="_customer-main_item-ttl">Калькулятор стоимости радиаторов</div>
            <img class="_customer-main_img" src="img/block_main/img-2.png" alt="">
            <div class="_customer-main_text">
                Воспользуйтесь калькулятором для расчета стоимости радиаторов отопления
            </div>
            <a href="/" class="_customer-main_btn">Рассчитать</a>
        </div>
        <div class="_customer-main_item">
            <div class="_customer-main_item-ttl">“Изолон ППЭ” — что это за материал</div>
            <img class="_customer-main_img" src="img/block_main/img-3.png" alt="">
            <div class="_customer-main_text">
                Важные особенности, преимущества и области применения “Изолон ППЭ” (Isolon 500)
            </div>
            <a href="#" class="_customer-main_btn">Читать</a>
        </div>
    </div>
</div>