<meta charset="UTF-8">
<style>
/*Footer*/
.fc-top {
    padding: 0 !important;
}
._customer-footer {
    padding: 50px 0;
    background: linear-gradient(180deg, #363636 0%, #020202 100%);
    color: #fff;
    font: normal 16px/1 Arial, sans-serif;
    white-space: nowrap;
    cursor: default;
}
._customer-footer__container {
    width: 100%;
    max-width: 1227px;
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 auto;
}
._customer-footer hr {
    display: block;
    width: 95%;
    height: 1px;
    border: none;
    background-color: #363636;
    margin: 40px 0;
}
._customer-footer__row {
    display: flex;
    justify-content: space-between;
}
._customer-footer__row_menu {
    display: flex;
    justify-content: flex-start;
}

._customer-footer__col_left {
    width: 47%;
}

._customer-footer__col_right {
     width: 53%;
 }

._customer-footer__col {
    width: 42%;
}
._customer-footer ul {
    padding: 0;
    list-style: none !important;
    margin: 0 !important;
}
._customer-footer li:not(:last-of-type) {
    margin-bottom: 20px;
}
._customer-footer a {
    display: inline-block;
    color: inherit !important;
    text-decoration: none;
}
._customer-footer a:hover {
    color: #FFC90E !important;
    text-decoration: underline;
}
._customer-footer__contact {
    padding-left: 30px;
    position: relative;
    margin-bottom: 20px;
}
._customer-footer__contact:before {
    content: "";
    display: block;
    width: 26px;
    height: 26px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -4px;
    left: 0;
}
._customer-footer__contact_phone {
    font-size: 18px;
}
._customer-footer__contact_phone:before {
    background-image: url(img/footer/phone.png);
}
._customer-footer__contact_address:before {
    background-image: url(img/footer/maps.png);
}
._customer-footer__contact_time:before {
    background-image: url(img/footer/clock.png);
}
._customer-footer__contact_mail:before {
    background-image: url(img/footer/mail.png);
}
._customer-footer__contact_phone a:not(:last-of-type) {
    margin-right: 30px;
}
._customer-footer__map {
    background: url(img/footer/shema.png) center no-repeat;
    background-size: cover;
    width: 640px;
    height: 400px;
}
@media (max-width: 992px) {
    ._customer-footer__row {
        display: block;
    }
    ._customer-footer__col_left {
        width: 100%;
    }
    ._customer-footer__map {
        margin-top: 30px;
        width: 100%;
    }
}
/*end Footer*/
</style>

<!--Footer-->
<footer class="_customer-footer" itemscope itemtype="http://schema.org/LocalBusiness">
    <div class="_customer-footer__container _customer-footer__row">
        <div class="_customer-footer__col_left">
            <div class="_customer-footer__contact _customer-footer__contact_phone">
                <a href="tel:+78314236377" onclick="yaCounter43832164.reachGoal('megasite_footer_tel'); return true;"
                    itemprop="telephone">+7 (831) 423-63-77</a>
            </div>
            <div class="_customer-footer__contact _customer-footer__contact_address" itemscope itemtype="http://schema.org/PostalAddress"
                itemprop="address"><span itemprop="addressLocality">г. Нижний Новгород</span>, <span itemprop="streetAddress">ул. Геологов, 3</span>
            </div>
            <div class="_customer-footer__contact _customer-footer__contact_time" itemprop="openingHours" content="Mo,Tu,We,Th,Fr 09:00-17:30">Пн-Пт
                9:00-17:30, без перерыва</div>
            <div class="_customer-footer__contact _customer-footer__contact_mail">
                <a href="mailto:insan-nn@mail.ru" onclick="yaCounter43832164.reachGoal('megasite_footer_email'); return true;"
                    itemprop="email">insan-nn@mail.ru</a>
            </div>
            <hr>
            <div class="_customer-footer__row_menu">
                <ul class="_customer-footer__col">
                    <li><a href="/about">О компании</a></li>
                    <li><a href="/catalog">Товары и услуги</a></li>
                    <li><a href="/pages">Доп. страница</a></li>
                    <li><a href="/pages">2-я допю страница</a></li>
                    <li><a href="/contacts">Контакты</a></li>
                </ul>
                <ul class="_customer-footer__col">
                    <li><a href="/catalog/k-6535459-radiatory_otopleniya">Радиаторы отопления</a></li>
                    <li><a href="/catalog/k-6535399-truby_i_santekhnicheskaya_armatura">Трубы и фитинги</a></li>
                    <li><a href="/catalog/k-6535511-izolon_ppe">Изолон ППЭ</a></li>
                    <li><a href="/catalog/k-6535407-kotelnoye_oborudovaniye">Котлы и дымоходы</a></li>
                    <li><a href="/catalog/k-6535372-otopitelnoye_i_nagrevatelnoye_oborudovaniye">Оборудование для котельных</a></li>
                </ul>
            </div>
        </div>
        <div class="_customer-footer__col_right _customer-footer__map">
        </div>
    </div>
    <meta itemprop="name" content="ООО ИнСан">
</footer>
<!--end Footer-->