<meta charset="UTF-8">
<style type="text/css">
	@import url('https://fonts.googleapis.com/css?family=Roboto:400&subset=cyrillic');
._customer__toolbar {
	position: relative;
	margin: 0 0 0 0;
	width: 100%;
	background: linear-gradient(180deg, #020202 0%, #363636 100%);
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	height: 57px;
	white-space: nowrap;
}
._customer-toolbar-container {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1207px;
	box-sizing: border-box;
	height: 100%;
	padding-left: 30px;
	padding-right: 30px;
}
._customer__toolbar-left {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
._customer__toolbar-logo {
	width: 45px!important;
	height: 45px!important;
}
._customer__toolbar-nav {
	margin-left: 60px;
}
._customer__toolbar-link {
	font-size: 13px!important;
	line-height: 1.2;
	text-transform: uppercase!important;
	color: #ffffff !important;
	padding: 0 8px 0;
	margin: 0 0 0 0 !important;
	text-decoration: none !important;
	cursor: pointer;
	box-sizing: border-box;
}
._customer__toolbar-link:hover {
	text-decoration: underline!important;
	color: #FFC90E !important;
}
._customer__toolbar-contact {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 16px !important;
	line-height: 24px;
	font-weight: 400 !important;
}
._customer__toolbar-email {
	cursor: pointer;
	padding-left: 25px;
	background: url('img/toolbar/mail.png') no-repeat 0 5px;
	color: #ffffff !important;
	text-decoration: none !important;
	margin-left: 5px;
}
._customer__toolbar-phone {
	cursor: pointer;
	padding-left: 25px;
	background: url('img/toolbar/phone.png') no-repeat 0 4px;
	color: #ffffff !important;
	margin: 0 0 0 40px !important;
	text-decoration: none !important;
	position: relative;
}
._customer__toolbar-phone:hover, ._customer__toolbar-email:hover {
	text-decoration: underline!important;
	color: #FFC90E !important;
}
._customer-toolbar__form {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	position: relative;
	width: 230px !important;
	max-width: 230px;
	height: 36px;
	margin-top: 10px;
	background-color: #ffffff;
	box-sizing: border-box;
}
._customer-toolbar__inp {
	height: 36px !important;
	width: 230px !important;
	border: none;
	color: #828282;;
	font-size: 12px;
	outline: none;
	padding: 0 40px 0 10px;
	box-sizing: border-box;
}
._customer-toolbar__form button {
	width: 36px !important;
	height: 36px !important;
	border: none !important;
	cursor: pointer;
	position: absolute;
	box-sizing: border-box;
	outline: none !important;
	opacity: 1 !important;
	top: 0;
	right: 0;
}
._customer-toolbar__search-btn:before {
	width: 36px !important;
	height: 36px !important;
	content: url('img/toolbar/search.png') !important;
	background: #E0E0E0;
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 10px;
	box-sizing: border-box;
}
._customer-toolbar__form button:hover {
	opacity: 0.7!important;
}
._customer-toolbar__inp::-webkit-input-placeholder {
	color: #828282;;
}
._customer-toolbar__inp::-moz-placeholder {
	color: #828282;;
}
._customer-toolbar__inp:-moz-placeholder {
	color: #828282;;
}
._customer-toolbar__inp:-ms-input-placeholder {
	color: #828282;;
}
@media (max-width: 1160px) {
	._customer__toolbar-nav {
		margin-left: 20px;
	}
	._customer__toolbar-contact {
		font-size: 14px !important;
	}
	._customer__toolbar-link {
		font-size: 14px!important;
		padding: 0 5px 0;
	}
	._customer__toolbar-phone {
		margin: 0 0 0 10px !important;
	}
}

</style>
<div class="_customer__toolbar">
	<div class="_customer-toolbar-container">
		<div class="_customer__toolbar-left">
			<a class="_customer__toolbar-logo" href="http://www.xn----7sbxubba1a.xn--p1ai/">
				<img class="_customer__toolbar-logo-img" src="img/toolbar/logo.png" />
			</a>
			<div class="_customer__toolbar-nav">
				<a class="_customer__toolbar-link" href="/about">О компании</a>
				<a class="_customer__toolbar-link" href="/catalog">Ассортимент</a>
				<a class="_customer__toolbar-link" href="/contacts">Контакты</a>
			</div>
		</div>
		<form accept-charset="UTF-8" accept-encoding="UTF-8" action="http://www.xn----7sbxubba1a.xn--p1ai/catalog"
			  class="search-form with-search-icon _customer-toolbar__form" method="get"
			  onsubmit="formSubmitter.disableButtons(this, null, null);">
			<div style="margin:0;padding:0;display:none"><input name="utf8" type="hidden" value="✓" /></div>
			<div class="_customer-toolbar-input-cnt sf-input-wrapper _customer-toolbar__input-wrapper">
				<input class="sf-input js-reset-field _customer-toolbar__inp" id="q" maxlenght="255" name="q"
					   placeholder="Найти товар или услугу..." type="text" />
				<button class="custom-button _customer-toolbar__search-btn"
						name="commit" type="submit" value="Поиск">
				</button>
			</div>
		</form>
		<div class="_customer__toolbar-contact">
			<a class="_customer__toolbar-email" href="mailto:insan-nn@mail.ru"
			   onclick="yaCounter43832164.reachGoal('megasite_toolbar_email'); return true;">
				insan-nn@mail.ru
			</a>
			<a class="_customer__toolbar-phone" href="tel:+78314236377"
			   onclick="yaCounter43832164.reachGoal('megasite_toolbar_tel'); return true;">
				+7 (831) 423-63-77
			</a>
		</div>
	</div>
</div>

